<div class="modal-content">
  <!--begin::Modal header-->
  <div class="modal-header" id="kt_modal_view_respuesta_header">
    <!--begin::Modal title-->
    <h2 class="fw-bolder">Información de la Respuesta</h2>
    <!--end::Modal title-->

    <!--begin::Close-->
    <div class="btn btn-icon btn-sm btn-active-icon-primary" (click)="modal.dismiss()">
      <span class="svg-icon svg-icon-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
            fill="currentColor" />
          <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
        </svg>
      </span>
    </div>
    <!--end::Close-->
  </div>
  <!--end::Modal header-->

  <!--begin::Modal body-->
  <div class="modal-body scroll-y mx-5 my-3">
    <div class="d-flex flex-column">

      <div class="row mb-3">
        <div class="col-6">
          <label class="fw-bold fs-6">Folio de respuesta:</label>
          <p class="form-control form-control-solid">
            {{ respuesta.folio | rellenaZero:3}}
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label class="fw-bold fs-6">Nombre de quien verificó</label>
          <p class="form-control form-control-solid">{{ respuesta.nombreVerifico }}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label class="fw-bold fs-6">Nombre de quien aprobó</label>
          <p class="form-control form-control-solid">{{ respuesta.aprobo.nombreCompleto }}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label class="fw-bold fs-6">Asunto:</label>
          <p class="form-control form-control-solid">{{ respuesta.asunto }}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label class="fw-bold fs-6">Descripción:</label>
          <p class="form-control form-control-solid text-justify" style="white-space: pre-wrap;">
            {{ respuesta.descripcion }}
          </p>
        </div>
      </div>

      <div *ngIf="solicitud.idEstado != 2" class="row mb-3">
        <div class="col-6">
          <label class="fw-bold fs-6">Tipo de Servicio:</label>
          <p class="form-control form-control-solid">
            {{ respuesta.tipo_servicio?.nombre || 'No especificado' }}
          </p>
        </div>
        <div class="col-6">
          <label class="fw-bold fs-6">Tipo de Mantenimiento:</label>
          <p class="form-control form-control-solid">
            {{ respuesta.tipo_mantenimiento?.nombre || 'No especificado' }}
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <label class="fw-bold fs-6">Fecha de Respuesta:</label>
          <p class="form-control form-control-solid">
            {{ respuesta.fecha | date:'medium' }}
          </p>
        </div>

        <div class="col-6">
          <label class="fw-bold fs-6">Folio de Solicitud Asociada:</label>
          <p class="form-control form-control-solid">
            {{ respuesta.solicitud.folio | rellenaZero:3}}
          </p>
        </div>
      </div>

    </div>

    <div class="text-center">
      <button type="button" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>

      <button type="button" class="btn btn-primary" (click)="verPdf()" [disabled]="loading">
        <span *ngIf="!loading" class="indicator-label">Abrir PDF</span>
        <span *ngIf="loading">Cargando PDF...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>

  </div>
  <!--end::Modal body-->


</div>