.config-folio
  {
      padding: 2.25rem;
  }

  .card-folio
  {
    min-height: 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #78829D;

    & > div{
      flex: 1;
      align-content: center;
      text-align: center;
      justify-items: center;
      font-size: calc(1.26rem + 0.12vw);
      border: #dbdbdb solid 1px;
      border-width:1px 0 1px 0;
    }
    & > div:first-child{
      color: white;
      border-radius: 0.475rem 0 0 0.475rem;
      background-color: #1b84ff;
      border: none;
    }
    & > div:last-child{
      border-radius: 0 0.475rem 0.475rem 0;
      border-width: 1px ;
    }
  }