<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header d-flex justify-content-between align-items-start flex-wrap" id="kt_modal_add_user_header">
        <!-- Título y subtítulo en columna -->
        <div class="d-flex flex-column">
            <h2 class="fw-bolder mb-1">Asignar técnicos</h2>
            <small class="fs-6 fst-italic text-danger">* Campos obligatorios</small>
        </div>

        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body scroll-y mx-5 my-3">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="#">
            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_add_user_header"
                data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                <!--begin::Input group-->

                <p class="fw-bold fs-4 text-center"> Información de la solicitud</p>

                <div class="fv-row row my-1">
                    <div class="col-12">
                        <label class="fw-bold fs-6">Tipo de problema:</label>
                        <p class="form-control form-control-solid">{{ solicitud.tipo.nombre }}</p>
                    </div>
                </div>

                <div class="fv-row row my-1">
                    <div class="col-12">
                        <label class="fw-bold fs-6">Descripción de la solicitud:</label>
                        <p class="form-control form-control-solid">{{ solicitud.descripcionUser }}</p>
                    </div>
                </div>

                <div class="fv-row row my-1">
                    <div class="col-12">
                        <label class="fw-bold fs-6">Departamento:</label>
                        <p class="form-control form-control-solid">{{ solicitud.user.departamento }}</p>
                    </div>
                </div>

                <p class="fw-bold fs-4 text-center">Técnicos</p>

                <div class="fv-row row my-1">
                    <div class="col-12">
                        <label class="required fw-bold fs-6">Seleccione los técnicos para atender la solicitud:</label>
                        <div *ngFor="let tecnico of tecnicos" class="form-check d-flex align-items-center mb-2">
                            <input class="form-check-input me-2" type="checkbox" [value]="tecnico.id"
                                [disabled]="isMaxSelected(tecnico.id)" (change)="onTecnicoChange($event)"
                                [checked]="personalAtencion.includes(tecnico.id)" id="tecnico-{{tecnico.id}}" />
                            <label class="form-check-label flex-grow-1 py-2 px-3 form-control form-control-solid"
                                [for]="'tecnico-' + tecnico.id">
                                {{ tecnico.name }} {{ tecnico.surnameP }} {{ tecnico.surnameM }}
                            </label>
                        </div>
                        <div *ngIf="estadoPA" class="alert alert-danger" role="alert">
                            Selcciones los técnicos que atenderan la solicitud
                        </div>
                    </div>
                </div>

                <!-- <div class="fv-row row my-1">
                    <div class="col-6">
                        <label class="required fw-bold fs-6 mb-2">Fecha de atención: </label>
                        <input type="date" name="name" class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="Fecha de atención" [(ngModel)]="fechaAtencion" />
                        <div *ngIf="estadoFA" class="alert alert-danger" role="alert">
                            La fecha de atención es requerida
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="required fw-bold fs-6 mb-2">Hora de atencón: </label>
                        <input type="time" name="surnameP" class="form-control form-control-solid mb-3 mb-lg-0"
                            placeholder="Hora de atención" [(ngModel)]="horaAtencion" />
                        <div *ngIf="estadoHA" class="alert alert-danger" role="alert">
                            La hora de atención es requerida
                        </div>
                    </div>
                </div> -->
            </div>
            <!--end::Scroll-->

            <!--begin::Actions-->
            <div class="text-center pt-15">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
                <button type="button" (click)="asignarTecnicos()" class="btn btn-primary"
                    data-kt-users-modal-action="submit">
                    <span class="indicator-label">Asignar</span>

                    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
                    <!-- <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                </button>
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Modal body-->
</div>
<!--end::Modal content CREATE-->