<!-- <div class="d-flex flex-column flex-center flex-column-fluid">
  <div class="d-flex flex-column flex-center text-center p-10">
    <div class="card card-flush  w-lg-650px py-5">
      <div class="card-body py-15 py-lg-20">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="d-flex flex-column flex-lg-row flex-column-fluid">

  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 order-2 order-lg-1 align-middle">
    <!--begin::Form-->
    <div class="d-flex flex-column align-items-center align-items-lg-end flex-lg-row-fluid" style="justify-content: center;">
      <!--begin::Wrapper-->
      <div class="<?php echo $params['wrapperClass']?> p-10" >
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->

    <!--begin::Footer-->
    <!-- <div class="d-flex flex-center flex-wrap px-5"> -->
      <!--begin::Links-->
      <!-- <div class="d-flex fw-semibold text-primary fs-base">
        <a href="#" class="px-5" target="_blank">Terms</a>

        <a href="#" class="px-5" target="_blank">Plans</a>

        <a href="#" class="px-5" target="_blank">Contact Us</a>
      </div> -->
      <!--end::Links-->
    <!-- </div> -->
    <!--end::Footer-->
  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div class="d-flex flex-lg-column flex-center w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2" style="background-color: #fcfcfc;">
    <!-- [ngStyle]="{'background-image': 'url(./assets/media/misc/auth-bg.png)'}"> -->
    <!--begin::Content-->
    <div class="d-flex flex-row flex-center w-50 px-lg-20 pt-5 ps-5" style=" ">
      <!--begin::Logo-->
      <!-- <a routerLink="/" class="mb-12">
        <img alt="Logo" src="./assets/media/logos/custom-1.png" class="h-75px" />
      </a> -->
      <!--end::Logo-->

      <!--begin::Image-->
      <img class="img-fluid" style="border-radius: 50%;" src="./assets/media/misc/inicio.jpg"
        alt="" />
      <!--end::Image-->
    </div>
    
    <div class="d-flex flex-column flex-center w-100 px-lg-20 pt-5 pe-5" style="">

      <!--begin::Title-->
      <h1 class="text-gray-900 fs-1qx fw-bolder text-center mb-7" >
        Sobre este sitio
      </h1>
      <!--end::Title-->

      <!--begin::Text-->
      <div class="text-gray-900fs-base text-center" style="color: black;">
        Aplicación web para la gestión de soporte y mantenimiento técnico del Instituto Tecnológico de Oaxaca. 
      </div>
      <!--end::Text-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>