<!-- <div class="d-flex flex-column flex-center flex-column-fluid">
  <div class="d-flex flex-column flex-center text-center p-10">
    <div class="card card-flush  w-md-650px py-5">
      <div class="card-body py-15 py-md-20">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="d-flex flex-column flex-md-row flex-column-fluid align-items-center">

  <!--begin::Body-->
  <div class="d-flex flex-column flex-md-row-fluid w-md-50 order-2 order-md-1 align-middle p-5">
    <!--begin::Form-->
    <div class="d-flex flex-column align-items-center align-items-md-end flex-md-row-fluid" style="justify-content: center;">
      <!--begin::Wrapper-->
      <div class="<?php echo $params['wrapperClass']?>" >
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div class="d-flex flex-md-column flex-center w-md-50 bgi-size-cover bgi-position-center order-1 order-md-2 p-5" >
    <!-- [ngStyle]="{'background-image': 'url(./assets/media/misc/auth-bg.png)'}"> -->
    <!--begin::Content-->
    <div class="d-flex flex-row flex-center w-50 px-md-20 pt-5 ps-5" >

      <!--begin::Image-->
        <img class="logo" style="border-radius: 50%;" src="./assets/media/misc/inicio.jpg"alt="logo del ITO" />
      <!--end::Image-->
    </div>
    
    <div class="d-flex flex-column flex-center w-100 px-md-20 pt-5 pe-5" >

      <!--begin::Title-->
      <h1 class="text-gray-900 fs-1qx fw-bolder text-center mb-7" >
        Sobre este sitio
      </h1>
      <!--end::Title-->

      <!--begin::Text-->
      <div class="text-gray-900 fs-base text-center" >
        Aplicación web para la gestión de soporte y mantenimiento técnico del Instituto Tecnológico de Oaxaca. 
      </div>
      <!--end::Text-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>